<!DOCTYPE html>
<html>
<head>
  <title>Luke's Fotoz and Jamz</title>
</head>
<body style="background-color: #c5ffbb; font-family: Helvetica; color: #4595e1; image-resolution: 72dpi; text-decoration: none; margin: 5% 15%;">
  <h1 style="font-size: 350%;">Luke's Photoz and Jamz!</h1>
<%= yield %>
</body>
</html>