<h1>I also enjoy listening to music!</h1>
<h2>Check out some hot jams from my SoundCloud favorites below.</h2>
<p>
  <% @music.each do |music| %>
  <iframe width="100%" height="450" scrolling="no" frameborder="no" src=<%= music %>></iframe>
  <% end %>
</p>
<p><a style="text-decoration: none; color: magenta; font-size: 150%;" href="/">Back to my Fotoz!</a></p>